<ion-grid no-padding>
	<ion-row>
		<ion-col>
			<div class='curtain-holder left' [ngStyle]='{"transform-origin" : removeCurtain == true ? "-120% top" : "", "transform" : removeCurtain == true ? "scaleX(0)" : ""}'>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
			</div>
		</ion-col>
		<ion-col>
			<div class='curtain-holder right' [ngStyle]='{"transform-origin" : removeCurtain == true ? "180% top" : "", "transform" : removeCurtain == true ? "scaleX(0)" : ""}'>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
				<div class='curtain'></div>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
