<ion-grid no-padding>
	<ion-row>
		<ion-col></ion-col>
		<ion-col text-center align-self-center font-5 font-w-normal col-auto>
			Your total wins across all <br/>
			games.
		</ion-col>
		<ion-col></ion-col>
		<ion-col col-auto align-self-center>
			<ion-grid class='total-wins-grid' no-padding>
				<ion-row>
					<ion-col font-7 font-w-medium text-center>
						TOTAL WINS
					</ion-col>	
				</ion-row>
				<ion-row grow>
					<ion-col font-w-medium font-h3 text-center align-self-center>
						452
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-col>
		<ion-col></ion-col>
		<ion-col align-self-center col-auto>
			<img class='img-share' src='./assets/images/home/share.png' />
		</ion-col>
		<ion-col></ion-col>
	</ion-row>	
</ion-grid>