<div>
	<div text-center class='main-header' font-w-medium>
		GROWING
	</div>
	<div text-center class='sub-header' font-w-heavy>
		PRIZE POOL
	</div>
	<ion-grid no-padding>
		<ion-row>
			<ion-col>
				<div class='slot orange'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>1st</td>
							<td class='td-border'></td>
							<td></td>
							<td class='value-label' font-w-medium font-5>
								&pound;100
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
			<ion-col>
				<div class='slot blue'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>11-17th</td>
							<td class='td-border'></td>
							<td class='img-label' text-center>
								<img src='assets/images/dashboard/coin.png' />
							</td>
							<td class='value-label' font-w-medium font-5>
								3,000,00
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class='slot orange'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>2nd</td>
							<td class='td-border'></td>
							<td></td>
							<td class='value-label' font-w-medium font-5>
								&pound;50
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
			<ion-col>
				<div class='slot blue'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>18-25th</td>
							<td class='td-border'></td>
							<td class='img-label' text-center>
								<img src='assets/images/dashboard/coin.png' />
							</td>
							<td class='value-label' font-w-medium font-5>
								15,000
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class='slot orange'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>3rd</td>
							<td class='td-border'></td>
							<td></td>
							<td class='value-label' font-w-medium font-5>
								&pound;20
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
			<ion-col>
				<div class='slot blue'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>26-33th</td>
							<td class='td-border'></td>
							<td class='img-label' text-center>
								<img src='assets/images/dashboard/coin.png' />
							</td>
							<td class='value-label' font-w-medium font-5>
								4,000
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class='slot orange'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>4-5th</td>
							<td class='td-border'></td>
							<td></td>
							<td class='value-label' font-w-medium font-5>
								&pound;10
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
			<ion-col>
				<div class='slot blue'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>34-41th</td>
							<td class='td-border'></td>
							<td class='img-label' text-center>
								<img src='assets/images/dashboard/coin.png' />
							</td>
							<td class='value-label' font-w-medium font-5>
								500
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class='slot orange'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>6-10th</td>
							<td class='td-border'></td>
							<td></td>
							<td class='value-label' font-w-medium font-5>
								&pound;2
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
			<ion-col>
				<div class='slot blue'>
					<table>
						<tr>
							<td class='colored-label' font-w-medium font-5>42-50th</td>
							<td class='td-border'></td>
							<td class='img-label' text-center>
								<img src='assets/images/dashboard/coin.png' />
							</td>
							<td class='value-label' font-w-medium font-5>
								250
							</td>
						</tr>
					</table>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class='big-slot'>
		<table>
			<tr>
				<td font-5 font-w-medium class='colored-label'>
					Remaining top 20% share:
				</td>
				<td class='td-border'>

				</td>
				<td class='img-label' text-center>
					<img src='assets/images/dashboard/coin.png' />
				</td>
				<td font-5>
					1,600,000
				</td>
			</tr>
		</table>
	</div>
</div>