[winning-animation-second-screen-content] {

	width: 100%;
	height: 100%;
	max-width: 100%;
	height: 100%;

	td{
		position: relative;
	}

	tr[shrink]{
		height: 1px;
	}

	tr[grow]{
		height: 100%;
	}

}
