<ion-slides #slides>
	<ion-slide class='firstSlide'>
		<ion-grid no-padding>
			<ion-row>
				<ion-col class='image-win' align-self-center>
					<img class='fadeInLeft animated'  src='./assets/images/arcade/kawaii_win/{{randomImage}}' />
				</ion-col>
				<ion-col align-self-center>
					<h1 class='title-win'>You Win</h1>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-slide>
	<ion-slide class='secondSlide'>
		<ion-grid no-padding>
			<ion-row>
				<ion-col align-self-center>
					<div text-center font-5 font-w-bold class='tell-frnd-label animate-queue'>
						New Target can be found
					</div>
					<div text-center class='header animate-queue'>
						BELOW
					</div>
					<div text-center>
						<ion-icon name='ios-arrow-down'></ion-icon>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-slide>
	<ion-slide class='thirdSlide'>
		<ion-grid no-padding>
			<ion-row>
				<ion-col align-self-center>
					<div text-center font-5 font-w-bold class='tell-frnd-label animate-queue'>
						Tell a friend get
					</div>
					<div text-center font-h1 font-w-heavy class='animate-queue'>
						<label highlight font-h1 font-w-heavy>1</label> FREE GIFT
					</div>
					<div text-center font-5 font-w-bold class='shareLabel animate-queue'>
						<label highlight font-5 font-w-bold>3</label> shares to go
					</div>
					<div class='animate-queue'>
						<button class='share-button'>
							<label class='tapicon-share'></label>
						</button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-slide>
</ion-slides>