page-winner {

	.fixed-content{
		background-image: url('../assets/images/player-profile/background.png');
		background-size: cover !important;
	}

	winner-player{
		margin: 3px !important;
	}

	.scroll-content{
		padding: 3px 0px !important;
	}

}
