<ion-slides #forgotPasswordSlider>
	<ion-slide>
		<ion-grid no-padding>
			<ion-row>
				<ion-col text-left>
					<button class='back-button' clear small ion-button icon-only (tap)='goBack.emit()'>
						<ion-icon name='ios-arrow-back'></ion-icon>
					</button>
				</ion-col>
				<ion-col col-auto font-10 font-w-bold text-center align-self-center>
					Reset Password
				</ion-col>
				<ion-col ></ion-col>
			</ion-row>
		</ion-grid>
		<p text-center font-w-normal class='forgot-password-description'>
			Enter your email address that was used to register. We’ll send you a link to reset your password.
		</p>
		<div>
			<ion-item no-lines round-input>
				<ion-input [(ngModel)]='mobile' type='tel' placeholder='Mobile'></ion-input>
			</ion-item>
		</div>
	</ion-slide>
	<ion-slide>
		<ion-icon class='big-checkmark tapicon-checked'>
		</ion-icon>
		<div font-10 font-w-bold class='label-send'>Send</div>
	</ion-slide>
</ion-slides>
<div class='forgot-password-button-wrapper' text-center>
	<button class='send-button' ion-button round block (tap)='moveToNextSlide()'>
		Send
	</button>
</div>