<div class='banner'>
	<div font-4 text-center font-w-heavy>
		Possible Instant Challenge amounts
	</div>
	<div font-6 font-w-medium text-center>
		Once amount is picked you will have to go on<br/>
		to play a quick game to claim you prize. 
	</div>
</div>
<div class='score-container'>
	<table>
		<tr>
			<td>
				<img src='assets/images/instantwin/1.png' />
			</td>
			<td>
				<img src='assets/images/instantwin/4.png' />
			</td>
			<td>
				<img src='assets/images/instantwin/7.png' />
			</td>
			<td>
				<img src='assets/images/instantwin/3.png' />
			</td>
		</tr>
		<tr>
			<td>
				&pound;200
			</td>
			<td>
				&pound;3
			</td>
			<td>
				<img class='coin' src='assets/images/dashboard/coin.png' />
				20k
			</td>
			<td>
				<img class='coin' src='assets/images/dashboard/coin.png' />
				8k
			</td>
		</tr>
		<tr>
			<td>
				<img src='assets/images/instantwin/2.png' />
			</td>
			<td>
				<img src='assets/images/instantwin/5.png' />
			</td>
			<td>
				<img src='assets/images/instantwin/8.png' />
			</td>
			<td>
				<img src='assets/images/instantwin/6.png' />
			</td>
		</tr>
		<tr>
			<td>
				&pound;1
			</td>
			<td>
				<img class='coin' src='assets/images/dashboard/coin.png' />
				2k
			</td>
			<td>
				<img class='coin' src='assets/images/dashboard/coin.png' />
				500
			</td>
			<td>
				<img class='coin' src='assets/images/dashboard/coin.png' />
				3k
			</td>
		</tr>
	</table>
</div>