<div class="bgshadow">
	<button ion-button small clear class="back-button-icon" (click)="this.homeCtrl.slideChanged('login',true)">
        <ion-icon name="arrow-back"></ion-icon>
    </button>
	<div class="reset-password-wrapper">
		<ion-col col-12>
		<div class="content">
			<p class="page-title zero-margin zero-padding">RESET PASSWORD</p>
			<p class="page-title-content">
				Enter your email address that you used<br/>
				to register. We’ll send you an email<br/>
				with a link to reset your password.
			</p>
		</div>		
		</ion-col>
		<form [formGroup]="resetpassword">
			<ion-row>
			    <ion-col col-12>
			        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
			        <p class="invaild app-error" *ngIf="(!resetpassword.controls.email.valid)  && (resetpassword.controls.email.dirty || !isSubmit)">
			        	Email is Required
			        </p>
			    </ion-col>
			    
			    <ion-col col-12 class="form-submit"> 
			    	<button ion-button block color="signupcolor" round class="" type="submit" (click)="send()">Send</button>
			    </ion-col>
			</ion-row>
		</form>
	</div>
</div>
<div class="success-screen" *ngIf="resetSuccess">
	<page-signup-sucess></page-signup-sucess>
</div>