<tr shrink>
	<td>
		<ng-content select='gamemode-game-information'>
		</ng-content>
	</td>
</tr>
<tr shrink>
	<td class='highlighted-border'>
	</td>
</tr>
<tr shrink>
	<td>
		<ng-content select=' > gamemode-game-details'>
		</ng-content>
		<ng-content select=' > head2head-search-opponent'>
		</ng-content>
		<ng-content select=' > head2head-awaiting-slide'>
		</ng-content>
		<ng-content select=' > head2head-winning-slide'>
		</ng-content>
		<ng-content select=' > head2head-lose-slide'>
		</ng-content>
	</td>
</tr>
<tr shrink>
	<td class='highlighted-border inverse'></td>
</tr>
<tr expand>
	<td class='td-head2head-content-score-background'>	
		<ng-content select=' > head2head-goal-setter'>
		</ng-content>
		<ng-content select=' > head2head-score-information-awaiting-slide'>
		</ng-content>
		<ng-content select=' > head2head-score-information-won-slide'>
		</ng-content>
		<ng-content select=' > head2head-score-information-lose-slide'>
		</ng-content>
	</td>
</tr>