<ion-slides #slides>
	<ion-slide >
		<ion-grid no-padding class='screen1'>
			<ion-row>
				<ion-col class='image-lose' align-self-center>
					<img class='fadeInLeft animated' src='./assets/images/arcade/kawaii_lose/{{randomImage}}' />
				</ion-col>
				<ion-col align-self-center>
					<div class='title-lose' text-center font-h1 font-stagger text='DONT GET'></div>
					<div class='clear'></div>
					<div class='title-lose' text-center font-h1 font-stagger text='MAD GET'></div>
					<div class='clear'></div>
					<div class='title-lose' text-center font-h1 font-stagger text='EVEN'></div>
					<div class='clear'></div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-slide>
	<ion-slide class='screen2'>
		<ion-grid no-padding>
			<ion-row>
				<ion-col align-self-center>
					<div text-center font-5 font-w-bold class='tell-frnd-label animate-queue'>
						Tell a friend get
					</div>
					<div text-center font-h1 font-w-heavy class='animate-queue'>
						<label highlight font-h1 font-w-heavy>1</label> FREE GIFT
					</div>
					<div text-center font-5 font-w-bold class='shareLabel animate-queue'>
						<label highlight font-5 font-w-bold>3</label> shares to go
					</div>
					<div class='animate-queue'>
						<button class='share-button'>
							<label class='tapicon-share'></label>
						</button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-slide>
</ion-slides>