<div text-center class='main-title' font-5 results font-w-black>
	RESULTS
</div>
<ion-slides #slides [pager]='true'>
	<ion-slide class='firstSlide'>
		<head2head-score-information-awaiting 
			outcome="LOSE"
			[playerInformation]='ownInformation'
			[opponentInformation]='opponentInformation'
		>
		</head2head-score-information-awaiting>
	</ion-slide>
	<ion-slide class='secondSlide'>
		<head2head-score-information
			[ownInformation]='ownInformation'
			[opponentInformation]='opponentInformation'
			[ownScore]='ownScore'
			[opponentScore]='opponentScore'
			playerColor='#f6434a'
			opponentColor='#3abf04'
			(openPlayerProfile)='openPlayerProfile.emit()'
			>
		</head2head-score-information>
	</ion-slide>
</ion-slides>